*.jar filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
*.arrays filter=lfs diff=lfs merge=lfs -text
*.db.* filter=lfs diff=lfs merge=lfs -text
NEO4J_HOME/** filter=lfs diff=lfs merge=lfs -text
